<div class="modalAA"    role="dialog" aria-labelledby="myModalLabel" data-backdrop = "true" >
    <!--<div id=modalAddProject" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
<div class="modal-header"  : style="height: 20px">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-event="click:removeDomNode">&times;</button>
     <h3  data-point="ahtung"></h3>
</div>
    <form  class="form-inline" data-point="formD" action="/user" method="post" enctype="multipart/form-data">
        <div class="modal-body" >
        <input id="nameAddPeople" class="input-medium" type="text" name="name" data-event="keypress:validatorPress" data-point="nameInForm" placeholder="name">
        <input id="surnameAddPeople" class="input-medium" type="text" name="surname" data-event="keypress:validatorPress" data-point="surnameInForm" placeholder="surname">
        <!--<select required class="input-medium" name="position">-->
            <!--<option>Lead</option>-->
            <!--<option>Manager</option>-->
            <!--<option>Developer</option>-->
        <!--</select>-->

            <select class="input-medium" name="position" id="statusID">
                <option value="0">select position</option>
                <option value="1">JS</option>
                <option value="2">manager</option>
                <option value="3">QA</option>
                <option selected value="4">pHp</option>
                <option value="5">TeamLeads</option>
            </select>

       <div> <br/></div>
        <span> &nbsp;&nbsp;add a photo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        <input id="photoAddPeople" type="file" name="photo" class="btn " multiple="multiple">
    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-primary">Save changes</button> если не хотим чтоб кнопка закрывала окно -->
        <button  type="button" class="btn btn-custom" data-event="click:submitData"  >Add employee</button>
    </div>
</form>
</div>