<div id="myModal" class="modalAA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-header" style="height: 20px">
        <button type="button" id = "modalClose" class="close" data-dismiss="modal" aria-hidden="true" data-event="click:removeDomNode">&times;</button>
        <h4 data-point="namemodal">confirm the movement of workers</h4>

    </div>
    <div class="modal-body" >
        <div class = "row-fluid" style="height: 150px">
            <div class="span9">
                <form id="formConfirmDate" class="form-inline" action="/project" method="post" enctype="multipart/form-data">

                    <div  id = "lastProject" data-point="forLastProject" ></div>
                    <div></br></div>
                    <div  id = "currentProject" data-point="forCurrentProject" ></div>
                    <div></br></div>
                    <div data-point="forStatusID" ></div>
                    <div></br></div>
                    <div class="input-append date span6" id="add"  data-date-format="dd-mm-yyyy">
                        <input   name="date" class = " span12"  data-point="datePicker" type="text" id="datepicker"  placeholder="Date">
                        <span class="add-on "><i class="icon-th"></i></span>
                    </div>

                </form>
            </div>
            <div class="span3">
                <div id="windowForPhoto" data-point="windowForPhoto">
                </div>
             </div>
        </div>
    </div>
        <div class="modal-footer">
            <div><h4  id="ahtung" data-point="ahtung"></h4></div>
            <!--<button class="btn btn-primary">Save changes</button> если не хотим чтоб кнопка закрывала окно -->
            <button  type="button" class="btn btn modalFooterButton" data-event="click:removeDomNode"  >cancel</button>
            <button type="button" class="btn btn-custom" data-point="modalFooterButton"  aria-hidden="true" data-event="click:submitData">confirm the transfer</button>
        </div>
    </div>
</div>
