        <div class="employee-header" >
            <div class="emplPosition"></div>
            <!--<button type="button" class="close" data-toggle="tooltip" title="remove from project"  aria-hidden="true" >&times;</button>-->
        </div>
        <div class="employee-body">
            <div class="united" >
                <img data-point="photo">
                <div class= "name"  data-point="name"></div>
            </div>
        </div>
        <div class="employee-footer">
        </div>

