<div id="finish">
    <div class="blocker">
    </div>
    <div id="modalFinishProject" class="modal"
         role="dialog"
         aria-labelledby="myModalLabel"
         data-backdrop = "false">
        <div class="modal-header" style="height: 20px">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3></h3>
        </div>
        <div class="modal-body" >
            <p>Pick up the final date for this project:</p>
                    <div id="datepicker-input" class="input-append date" data-date="12-02-2012" data-date-format="dd/mm/yyyy">
                <input class="span2" name="finishDate" type="text"  placeholder="finish of the project">
                <span class="add-on "><i class="icon-th"></i></span>
            </div>

        </div>
        <div class="modal-footer">
            <button id='finish-btn' class="btn btn-custom">Finish project </button>
        </div>
    </div>
</div>