<!--for correct and clear look of project window we need to have
----relatively positioned container of project content, which have to be
----a first-child  of .projectWindow and parentNode for project header and body
---------------------------------------------------------------------------------
----this changes was called by need of automatically computed projectWindow height
-->
<div class = "projectWindow container-fluid">
    <div class="projectContent">
        <div class="project-header">
            <button type="button" class="close" data-toggle="tooltip" title="hide project" data-dismiss="modal" aria-hidden="true" >&times;</button>
            <span data-role="projectName" data-point="name">Project Name</span>
        </div><!--project header-->
        <div class="project-body">
            <div class="leaders row-fluid" data-role="leads">
            </div>
            <div class="developers row-fluid" data-role="devs" data-view="collapsed">
                <a href="#show">show developers</a>
            </div>
        </div><!--project body-->
    </div><!--projectContent-->
</div>