<!--<div id="someID-body" class="container-scroll">-->
    <!--<ul class="list scroller">-->
        <!--<li class="list-item-last"></li>-->
        <!--<div class="scroller__bar-wrapper">-->
            <!--<div class="scroller__bar"></div>-->
        <!--</div>-->
    <!--</ul>-->
    <!--<div class="load">-->
        <!--<div class="load__value"></div>-->
    <!--</div>-->
<!--</div>-->

<div id="someID-body" class="accordion-body collapse">
    <ul class="list accordion-inner">
        <li class="list-item-last"></li>

    </ul>

</div>

