    <!--<div class="accordion-group" id="idAccordGroup-group">-->
        <!--<div class="accordion-heading header">-->
            <!--<button type="button" class="btn accord btn-custom header__title"-->
                    <!--data-toggle="collapse"-->
                    <!--data-parent="dataParentId" href="#someHref-body">-->
                <!--headTitle-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->



        <div class="header" id="idAccordGroup-group">
            <button type="button" class="btn accord btn-custom header__title"
                    href="#someHref-body">
                headTitle
            </button>
        </div>
