<div class="accordion-group">
    <div class="accordion-heading">

        <button type="button" class="btn accord btn-custom accordion-toggle"
                data-toggle="collapse"
                data-parent="#accordion-people" href="#collapseOne">
            simple collapsible1
        </button>

    </div>
    <div id="collapseOne" class="accordion-body collapse in">
        <ul class="list">

            <li class="list-item">
                <a class="fadeThis" href="#"><i class="icon-chevron-right"></i> Project
                    <i class="bubble-icon icon-forward"></i>
                </a>
            </li>


            <li class="list-item">
                <a class="fadeThis" href="#"><i class="icon-chevron-right"></i> Project
                    <i class="bubble-icon icon-forward"></i>
                </a>
            </li>
            <li class="list-item">
                <a class="fadeThis" href="#"><i class="icon-chevron-right"></i> Project
                    <i class="bubble-icon icon-forward"></i>
                </a>
            </li>
            <li class="list-item">
                <a class="fadeThis" href="#"><i class="icon-chevron-right"></i> Project
                    <i class="bubble-icon icon-forward"></i>
                </a>
            </li>
            <li class="list-item-last"></li>

        </ul>
    </div>
</div>

<div class="accordion-group">
    <div class="accordion-heading">
        <button type="button" class="btn accord btn-custom accordion-toggle"
                data-toggle="collapse"
                data-parent="#accordion-people" href="#collapseTwo">
            simple collapsible2
        </button>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
        <ul class="list">

            <li class="list-item">
                <a class="fadeThis" href="#"><i class="icon-chevron-right"></i> Project
                    <i class="bubble-icon icon-forward"></i>
                </a>
            </li>


            <li class="list-item">
                <a class="fadeThis" href="#"><i class="icon-chevron-right"></i> Project
                    <i class="bubble-icon icon-forward"></i>
                </a>
            </li>
            <li class="list-item">
                <a class="fadeThis" href="#"><i class="icon-chevron-right"></i> Project
                    <i class="bubble-icon icon-forward"></i>
                </a>
            </li>
            <li class="list-item">
                <a class="fadeThis" href="#"><i class="icon-chevron-right"></i> Project
                    <i class="bubble-icon icon-forward"></i>
                </a>
            </li>
            <li class="list-item-last"></li>

        </ul>
    </div>
</div>