<div class = "employee">
    <div class="employeeWindow ">
        <div class="employee-header" >
            <div >position</div>
            <button type="button" class="close" data-toggle="tooltip" title="remove from project" data-dismiss="modal" aria-hidden="true" >&times;</button>
        </div>
        <div class="employee-body">
              <div class="united" >
                 <img src="http://placehold.it/90x120" alt="">
                 <div class= "name" >Name Surname</div>
             </div>
        </div>
        <div class="employee-footer">
        </div>
    </div>
</div>

<script>
    $(".employee-body").popover({trigger:"hover", content: "project, project, birthday, some information"})
</script>

